  body {
    background-color: #e3f2fd;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 90px;
  }

  .active {
    color: yellow;
  }

  span {
    color: rgb(223, 164, 16);
  }

  body {
    background-color: rgb(57, 156, 156);
  }

  h1,
  h2,
  h3 {
    color: rgb(50, 20, 187);
  }

  .black {
    color: black;
  }

  .slogon {
    color: deeppink;
  }